absl-py==0.7.1
alabaster==0.7.12
altgraph==0.16.1
appdirs==1.4.3
appnope==0.1.0
aspy.yaml==1.3.0
astor==0.8.0
astroid==2.3.3
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.7.0
backcall==0.1.0
bidict==0.18.0
black==19.3b0
bleach==3.1.0
bokeh==1.4.0
cached-property==1.5.1
certifi==2019.6.16
cfgv==2.0.1
cftime==1.0.3.4
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
colorcet==2.0.2
coverage==4.5.4
cycler==0.10.0
Cython==0.29.13
dask==2.8.1
decorator==4.4.0
defusedxml==0.6.0
distributed==2.8.1
docutils==0.14
elasticdeform==0.4.4
entrypoints==0.3
fastdtw==0.3.2
fdasrsf==1.4.3
filelock==3.0.12
fsspec==0.6.1
gast==0.2.2
geomdl==5.2.9
google-pasta==0.1.7
graphviz==0.13.2
grpcio==1.22.0
h5py==2.9.0
HeapDict==1.0.1
identify==1.4.6
idna==2.8
imageio==2.5.0
imagesize==1.1.0
imglyb==0.3.5
importlib-metadata==0.18
ipydatawidgets==4.0.1
ipykernel==5.1.1
ipympl==0.3.3
ipython==7.6.1
ipython-genutils==0.2.0
ipywidgets==7.5.0
isort==4.3.21
itk-core==5.0.1
itk-filtering==5.0.1
itk-meshtopolydata==0.5.1
itk-numerics==5.0.1
itkwidgets==0.21.1
jedi==0.14.1
jgo==0.4.0
Jinja2==2.10.1
joblib==0.13.2
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
llvmlite==0.29.0
locket==0.2.0
macholib==1.11
Markdown==3.1.1
MarkupSafe==1.1.1
marshmallow==3.2.2
matlabengineforpython===R2018a
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==7.2.0
mpldatacursor==0.6.2
msgpack==0.6.2
nbconvert==5.5.0
nbformat==4.4.0
netCDF4==1.5.2
networkx==2.3
nodeenv==1.3.3
notebook==6.0.0
numba==0.45.0
numpy==1.17.0rc2
packaging==19.0
palettable==3.3.0
pandas==0.25.0
pandocfilters==1.4.2
param==1.9.1
parso==0.5.1
partd==1.1.0
patsy==0.5.1
pbr==5.4.2
pexpect==4.7.0
-e git+git@github.com:half-adder/pharynx_redox.git@65d1eda0847dd5c654bc0f2de8b82a670cb36d3f#egg=pharynx_redox
pickleshare==0.7.5
Pillow==6.1.0
pipdeptree==0.13.2
plotly==4.3.0
pluggy==0.12.0
pre-commit==1.18.1
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.9.0
psutil==5.6.3
ptyprocess==0.6.0
py==1.8.0
pyct==0.4.6
Pygments==2.4.2
pyimagej==0.4.0
PyInstaller==3.5
pyjnius==1.2.0
pylint==2.4.4
PyOpenGL==3.1.3b2
pyparsing==2.4.2
PyQt5==5.12.1
PyQt5-sip==4.19.18
PyQt5-stubs==5.12.1.0
pyqtgraph==0.10.0
pyrsistent==0.15.3
pytest==5.0.1
pytest-cov==2.7.1
python-coveralls==2.9.3
python-dateutil==2.8.0
python-dotenv==0.10.3
pytz==2019.1
PyWavelets==1.0.3
PyYAML==5.1.1
pyzmq==18.0.2
qtconsole==4.5.2
rdata==0.2.1
requests==2.22.0
retrying==1.3.3
rope==0.14.0
scikit-datasets==0.1.26
scikit-fda==0.2.4
scikit-image==0.15.0
scikit-learn==0.21.2
scipy==1.3.0
scyjava==0.2.3
seaborn==0.9.0
Send2Trash==1.5.0
six==1.12.0
sklearn==0.0
snowballstemmer==1.9.0
sortedcontainers==2.1.0
Sphinx==2.1.2
sphinx-autodoc-typehints==1.7.0
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
statannot==0.1.0
statsmodels==0.10.1
stevedore==1.30.1
tabulate==0.8.3
tblib==1.5.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
toml==0.10.0
toolz==0.10.0
tornado==6.0.3
tox==3.14.0
tqdm==4.32.2
traitlets==4.3.2
traittypes==0.2.1
typed-ast==1.4.0
urllib3==1.25.3
virtualenv==16.7.2
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.5
widgetsnbextension==3.5.0
wrapt==1.11.2
xarray==0.13.0
xlrd==1.2.0
zict==1.0.0
zipp==0.5.2
zstandard==0.12.0
