~/matlab/Javier matlab functions/ja_E.m/
~/matlab/Javier matlab functions/ja_oxd.m/
~/matlab/catuneven/catuneven.m/
~/matlab/libs/altmany-export_fig-5b3965b/copyfig.m
~/matlab/libs/altmany-export_fig-5b3965b/crop_borders.m
~/matlab/libs/altmany-export_fig-5b3965b/eps2pdf.m
~/matlab/libs/altmany-export_fig-5b3965b/export_fig.m
~/matlab/libs/altmany-export_fig-5b3965b/fix_lines.m
~/matlab/libs/altmany-export_fig-5b3965b/ghostscript.m
~/matlab/libs/altmany-export_fig-5b3965b/isolate_axes.m
~/matlab/libs/altmany-export_fig-5b3965b/pdf2eps.m
~/matlab/libs/altmany-export_fig-5b3965b/pdftops.m
~/matlab/libs/altmany-export_fig-5b3965b/print2array.m
~/matlab/libs/altmany-export_fig-5b3965b/print2eps.m
~/matlab/libs/altmany-export_fig-5b3965b/read_write_entire_textfile.m
~/matlab/libs/altmany-export_fig-5b3965b/user_string.m
~/matlab/libs/altmany-export_fig-5b3965b/using_hg2.m
~/matlab/libs/bounded-line/Inpaint_nans
~/matlab/libs/bounded-line/boundedline
~/matlab/libs/bounded-line/singlepatch
~/matlab/libs/tiffread2/tiffread2.m
~/matlab/sean/Experiment/helperFunctions
~/matlab/sean/FullPharynxPipeline/calcCentroidsAndOrientations.m
~/matlab/sean/FullPharynxPipeline/calculateMidlines.m
~/matlab/sean/FullPharynxPipeline/getBBoxes.m
~/matlab/sean/FullPharynxPipeline/getLeftRightBounds.m
~/matlab/sean/FullPharynxPipeline/measureIntensityAlongMidlines.m
~/matlab/sean/FullPharynxPipeline/pipeline.m
~/matlab/sean/FullPharynxPipeline/plotStrainMeans.m
~/matlab/sean/FullPharynxPipeline/rotatePharynx.m
~/matlab/sean/FullPharynxPipeline/segmentPharynx.m
~/matlab/sean/FullPharynxPipeline/trimProfile.m
~/matlab/subtractMedians.m'//
