[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyqt5 = "*"
pyqtgraph = "*"
numpy = "*"
scikit-image = "*"
pyopengl = "*"
jupyter = "*"
xarray = "*"
pytest = "*"
seaborn = "*"
statsmodels = "*"

[requires]
python_version = "3.7"
