[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyqt5 = "*"
pyqtgraph = "*"
numpy = "*"
scikit-image = "*"
pyopengl = "*"
jupyter = "*"
xarray = "*"
pytest = "*"
seaborn = "*"
statsmodels = "*"
pyqt5-stubs = "*"
bidict = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
